@model Victuz.Models.Businesslayer.Forum

@{
    ViewData["Title"] = "Details";
}

<div class="forum-detail-item">
    <h3 class="forum-title">@Html.DisplayFor(model => model.Title)</h3>
    <p class="forum-desc">@Html.DisplayFor(model => model.Description)</p>
</div>
<br />

<div>
    <div class="new-post-btn">
        <form asp-controller="Posts" asp-action="Create" asp-route-id="@Model.ForumId" method="get">
            <h4>
                Posts
                <input type="hidden" name="ForumId" value="@Model.ForumId" />
                <button class="custom-btn button-creme" style="margin-left: auto;">
                    Nieuwe post
                </button>
            </h4>
        </form>
    </div>
    <hr />
    @if(Model.Posts != null && Model.Posts.Any())
    {
        @foreach(var post in Model.Posts)
        {
            <div class="forum-detail-item">
                <p class="forum-title">by @post.User.UserName</p>
                <p class="forum-title">on @post.PostedDate.ToString("g")</p>
                <hr style="color: #000"/>
                <p class ="forum-desc">@post.Content</p>
            </div>
        }
    }
    else
    {
        <p>Geen posts beschikbaar voor dit forum.</p>
    }
</div>
