@model IEnumerable<Victuz.Models.Businesslayer.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="custom-btn button-creme">
        <a class="no-underline text-black fw-bold" asp-controller="Locations" asp-action="Create">Aanmaken</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a href="/Home/Dashboard">Terug naar dashboard</a>