@{
    ViewData["Title"] = "Home Page";
}
@model Victuz.Models.Businesslayer.OrderViewModel

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Victuz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- Sectie voor Opkomende Activiteiten -->
    <section class="activities font">
        <h2>Opkomende Activiteiten</h2>
        <div class="activities-container">
            @foreach(var activity in Model.gatherings)
            {
                <form asp-controller="Gatherings" asp-action="Details" asp-route-id="@activity.GatheringId">
                    <button class="homepage-btn">
                        <div class="forum-post">
                            <img src="@(activity.Photopath != null ? Url.Content(activity.Photopath) : Url.Content("~/placeholder/360_F_137686564_aEgvXfzDIcolGWltXqe51f5XZAPGMXtn.jpg"))"
                            class="homepage-image"/>
                            @activity.GatheringTitle
                        </div>
                    </button>
                </form>
            }
        </div>
    </section>

    <!-- Sectie voor Forum -->
    <section class="forum font">
        <h2>Forum</h2>
        <div class="forum-container">
            @foreach(var forum in Model.forums)
            {
                <form asp-controller="Forums" asp-action="Details" asp-route-id="@forum.ForumId">
                    <button class="homepage-btn">
                        <div class="forum-post">
                            @forum.Title
                        </div>
                    </button>
                </form>
            }
        </div>
    </section>
</body>