@model IEnumerable<Victuz.Models.Businesslayer.GatheringRegistration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gathering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gathering.GatheringTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {   userid = item.UserId, gatheringid = item.GatheringId }) |
                    @Html.ActionLink("Details", "Details", new { userid = item.UserId, gatheringid = item.GatheringId }) |
                    @Html.ActionLink("Delete", "Delete", new { userid = item.UserId, gatheringid = item.GatheringId })
            </td>
        </tr>
}
    </tbody>
</table>
