@model Victuz.Models.Businesslayer.Gathering

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="container mt-5 font" style="width: 1300px; min-width: 1300px;">
        <div class="card gatheringdetails" style="min-height:750px">
            <div class="row g-0 ">
                <div class="col-md-8">
                    
                    <div class="card-body ">
                        <dl class="row">
                            <dd class="fw-bold card-title" style="font-size: xx-large" >@Html.DisplayFor(model => model.GatheringTitle)</dd>

                            <dd class="col-sm-9" style="font-size: large">@Html.DisplayFor(model => model.Location.LocName)</dd>

                            <dd class="col-sm-9" style="font-size: large">@Html.DisplayFor(model => model.Date)</dd>

                            <dd class="col-sm-9" style="font-size: large">@Html.DisplayFor(model => model.Category.CatName)</dd>



                            <dd class="button" style="background-color: #0e616e; width: 40%; position: relative; top: 400px; ">
                                <a href="@Url.Action("Create", "GatheringRegistrations", new {Id = Model.GatheringId})" class="button text-white" style="font-size: 25px; font-weight: 600;" >Reserveren</a>
                            </dd>
                    </div>
                </div>
                <div class="col-md-4" style="position: relative; top: 20px; right: 25%">
                    <img class="card-img-top" style="height: 400px; width: auto; object-fit: cover; border: inset #004E5C; "
                         src="@(Model.Photopath != null ? Url.Content(Model.Photopath) : Url.Content("~/placeholder/360_F_137686564_aEgvXfzDIcolGWltXqe51f5XZAPGMXtn.jpg"))"
                         alt="@Model.GatheringTitle" />
                    <div style="position: relative; top: 20px;">
                        <b class="col-sm-3" style="font-size: large">Beschrijving</b>
                        <div class="card-body forum-container border text-white rounded" style="position: relative;  width: 600px; max-height: auto; height: 200px;">
                            <t class="col-sm-9" style="font-size: large"> @Html.DisplayFor(model => model.GatheringDescription)</t>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
        </div>
</body>
</html>
