@model IEnumerable<Victuz.Models.Businesslayer.Gathering>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
        <button class="custom-btn button-creme">
            <a class="no-underline text-black fw-bold" asp-controller="Gatherings" asp-action="Create">Aanmaken</a>
        </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GatheringId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatheringTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatheringDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelitem => item.GatheringId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.GatheringTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatheringDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CatName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GatheringId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GatheringId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GatheringId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <a href="/Home/Dashboard">Terug naar dashboard</a>
</body>
</html>
